@theme {
  --text-title: 64px;
  --animate-shine: shine 5s infinite;
}

.star-glow {
  filter: drop-shadow(0 0 5px #d9d9d9) drop-shadow(0 0 15px #d9d9d9);
}

.naine-blanche-glow {
  filter: drop-shadow(0 0 11px #f8f8ff) drop-shadow(0 0 20px #f8f8ff);
}

.sun-glow {
  filter: drop-shadow(0 0 11px #ffef00) drop-shadow(0 0 20px #ffef00);
}

@keyframes shine {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
